@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --border-radius: 2px;
  --border-size: 2px;

  --main-color-background: rgba(57, 145, 141, 0.6);
  --main-color: rgb(59, 91, 132);
  --main-color-active: rgb(117, 167, 204);
  --secondary-color-background: #2c6d8d;
  --white-color-background: #FFF;

  --delete-color-main: rgba(255, 0, 0, 0.5);
  --delete-color-bright: rgba(255, 0, 0, 0.75);
  --valid-background: rgba(57, 145, 141, 0.4);

  --font-dark-color: rgb(17, 17, 17);
  --font-bright-color: rgb(230,230,230);

  --green: rgb(125, 157, 146);
  --blue: rgb(59, 91, 132);
  --ocean: rgb(117, 167, 204);
  --red: rgb(204, 133, 129);
  --pink: rgb(244, 232, 234);
  --fog: rgb(237, 235, 236);


}

body {
  background: var(--fog);
}

h1, h2, h3, h4, h5, h6, p {
  padding: 5px;
  line-height: 1.2em;
  margin: 0;
}

h1 {
  font-size: 1.6rem;
  color: var(--font-bright-color);
}

h2 {
  font-size: 1.1rem;
  font-weight: 500;
}

h3 {
  font-size: 1rem;
  font-weight: 300;
}

a, a:link {
  text-decoration: none;
}

a {
  font-size: 0.85rem;

}

a, i, span, button {
  transition: all 0.2s ease-in;
}

a:hover, span:hover {
  color: var(--main-color-active);
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  max-width: 1200px;
  margin: 0 auto;
}

button {
  min-width: 150px;
  height: 2.2rem;
  border-radius: var(--border-radius);
  background: var(--main-color);
  color: var(--font-bright-color);
  box-shadow: var(--shadow-small);
  align-self: center;
  text-transform: uppercase;
  opacity: 1;
  border: none;
  margin: 10px 0;
}

td > button {
  margin: 0;
  background-color: var(--delete-color-main);
}

td > button:hover {
  background-color: var(--delete-color-bright);
}

button:hover {
  background: var(--main-color-active);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 72px;
  width: 100%;
  box-sizing: border-box;
  color: rgba(255,255,255, 0.75);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: var(--main-color-background);
  backdrop-filter: blur(12px);
  z-index: 4;
}

.book-card {
  position: relative;
  /* box-sizing: content-box; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  padding: 10px;
  width: 500px;
  height: 270px;
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

img {
  height: 100%;
  transition: all 0.2s ease-out;
}

.img-container {
  left: 0;
  height: 250px;
  max-width: 175px;
  margin-left: 10px;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  transform: scale(1);
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 60%;
  height: 250px;
  border-radius: 5px;
  padding: 0 30px;
}

.details > a {
  padding: 5px;
  display: inline-block;
  text-transform: uppercase;
}

.details > button {
  justify-self: flex-end;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 70px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

i.fa {
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

i:hover {
  color: var(--main-color-active);
}

.cart-card {
  position: fixed;
  top: 50px;
  right: 50px;
  border-radius: 15px;
  visibility: hidden;
  min-height: 50px;
  background: var(--white-color-background);
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.6);
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: scale(0%);
  transform-origin: top right;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  color: black;
}

.cart-card.visible {
  visibility: visible;
  transform: scale(100%);
  opacity: 1;
}

.cart-card > button {
  margin-bottom: 30px;
}

.modal {
  position: absolute;
  top: 10%;
  right: 20px;
  width: 65%;
  box-sizing: border-box;
  visibility: hidden;
  min-height: 80%;
  transform: scale(0%);
  opacity: 0;
  transition: all 0.5s ease-out;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column-reverse;
  padding: 20px;
  background: white;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
  font-size: 0.8rem;
}

span {
  align-self: flex-end;
}


.cart-card > span, p {
  margin: 15px;
}

.modal.visible {
  visibility: visible;
  opacity: 1;
  text-align: justify;


  transform: scale(100%);
}

/* TABLE */
table {
  border-collapse: collapse;
  border: 2px solid rgb(200,200,200);
  letter-spacing: 1px;
  font-size: 0.8rem;
  color: black;
  margin: 20px;
  max-width: calc(100% - 60px);
}

td, th {
  border: 1px solid rgb(190,190,190);
  padding: 10px;
}

th {
  background-color: var(--main-color-background);
  color: white;
}

td {
  text-align: center;
}

caption {
  padding: 10px;
}